In [1]:
from sqlalchemy import create_engine

In [2]:
import pandas as pd

In [3]:
connect_param = 'postgresql://dsi_student:gastudents@dsi.c20gkj5cvu3l.us-east-1.rds.amazonaws.com:5432/northwind'

In [4]:
engine = create_engine(connect_param)

In [6]:
pd.read_sql("SELECT * FROM pg_catalog.pg_tables WHERE schemaname='public'", con=engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers
0,public,categories,dsi,None,True,False,False
1,public,full_order_table5,dsi_student,None,False,False,False
2,public,fo,dsi_student,None,False,False,False
3,public,table_join,dsi_student,None,False,False,False
4,public,full_order,dsi_student,None,False,False,False
5,public,customercustomerdemo,dsi,None,True,False,False
6,public,customerdemographics,dsi,None,True,False,False
7,public,customers,dsi,None,True,False,False
8,public,employees,dsi,None,True,False,False
9,public,employeeterritories,dsi,None,True,False,False
10,public,order_details,dsi,None,True,False,False
11,public,orders,dsi,None,True,False,False
12,public,products,dsi,None,True,False,False
13,public,region,dsi,None,True,False,False
14,public,shippers,dsi,None,True,False,False
15,public,shippers_tmp,dsi,None,True,False,False
16,public,suppliers,dsi,None,True,False,False
17,public,territories,dsi,None,True,False,False
18,public,usstates,dsi,None,False,False,False
19,public,table1,dsi_student,None,False,False,False
20,public,movies,dsi_student,None,True,False,False
21,public,ratings,dsi_student,None,True,False,False
22,public,categoriesmerged,dsi_student,None,True,False,False
23,public,order_table,dsi_student,None,False,False,False
24,public,full_ord,dsi_student,None,False,False,False
25,public,new_table,dsi_student,None,False,False,False
26,public,full_order_table,dsi_student,None,False,False,False
27,public,full_order_table2,dsi_student,None,False,False,False
28,public,full_order_table3,dsi_student,None,False,False,False
29,public,full_order_table4,dsi_student,None,False,False,False
30,public,temp_table,dsi_student,None,False,False,False
31,public,full_orders_,dsi_student,None,False,False,False
32,public,fullorders_,dsi_student,None,False,False,False
33,public,fullorders__,dsi_student,None,False,False,False
34,public,fullorders,dsi_student,None,False,False,False
35,public,descriptions,dsi_student,None,False,False,False
36,public,price,dsi_student,None,False,False,False
37,public,descriptions1,dsi_student,None,False,False,False
38,public,empterid,dsi_student,None,False,False,False
39,public,google_app,dsi_student,None,False,False,False
40,public,final,dsi_student,None,False,False,False
41,public,final2,dsi_student,None,False,False,False
42,public,final3,dsi_student,None,False,False,False
43,public,final4,dsi_student,None,False,False,False
44,public,credit_card_feature,dsi_student,None,False,False,False
45,public,price2,dsi_student,None,False,False,False
46,public,descriptions2,dsi_student,None,False,False,False
47,public,empterid2,dsi_student,None,False,False,False
48,public,final5,dsi_student,None,False,False,False
49,public,my_table,dsi_student,None,False,False,False
50,public,newregion,dsi_student,None,False,False,False
51,public,updatdregion,dsi_student,None,False,False,False
52,public,updatedregion,dsi_student,None,False,False,False
53,public,updatedregion1,dsi_student,None,False,False,False

In [7]:
categories_head = pd.read_sql("SELECT * FROM categories LIMIT 10", con=engine)

In [8]:
categories_head

,CategoryID,CategoryName,Description,Picture
0,1,Beverages,"Soft drinks, coffees, teas, beers, and ales",[]
1,2,Condiments,"Sweet and savory sauces, relishes, spreads, an...",[]
2,3,Confections,"Desserts, candies, and sweet breads",[]
3,4,Dairy Products,Cheeses,[]
4,5,Grains/Cereals,"Breads, crackers, pasta, and cereal",[]
5,6,Meat/Poultry,Prepared meats,[]
6,7,Produce,Dried fruit and bean curd,[]
7,8,Seafood,Seaweed and fish,[]