# SQL with Python and Pandas Lab
Today we learned about relational databases and the language most use to query them, SQL.  In this lab we are going to practice converting information to a SQL DB, querying the data and then analyzing it with Python and just Python.

## Read in the EuroMart CSV Data
- 'EuroMart-ListOfOrders.csv'
- 'EuroMart-OrderBreakdown.csv'
- 'EuroMart-SalesTargets.csv'

In [142]:
import pandas as pd
import sqlite3
from pandas.io import sql


for csv in ['ListOfOrders','OrderBreakdown', 'SalesTargets']:
    pd_df = pd.read_csv('data/csv/EuroMart-'+ csv + '.csv', encoding = 'utf-8')
    pd_df.columns = [x.replace(' ', '_') for x in pd_df.columns]
    pd_df.columns = [x.replace('-', '_') for x in pd_df.columns]    
    connection = sqlite3.connect('data/sql/EuroMart.db.sqlite')
    pd_df.to_sql(name = csv, con = connection, if_exists = 'replace', index = False)
    

## converting $$ columns to numbers
c = connection.cursor()
c.execute('update OrderBreakdown set Sales = cast(replace(Sales,"$","") as number);')
c.execute('update OrderBreakdown set Profit = cast(replace(Profit,"$","") as number);')
c.execute('update SalesTargets set Target = cast(replace(replace(Target,"$",""),",","") as number);')
connection.commit()

DatabaseError: Execution failed on sql 'DROP TABLE "ListOfOrders"': database is locked

## Create a SQL Database called 'EuroMart' and save the three dataframes as SQL tables.

In [84]:
## included above

### 1. How many orders has each Customer placed?

In [11]:
sql.read_sql_query('select customer_name, count(*) num_orders from ListOfOrders group by customer_name',connection)

            Customer_Name  num_orders
0           Aaron Bootman          11
1        Aaron Cunningham           8
2             Aaron Davey           4
3         Aaron Macrossan           1
4             Abbie Perry           4
5             Abby Colebe           3
6                Abby Mei           6
7           Abby Muramats           5
8        Abigail Humffray           5
9              Ada Dalton           4
10           Adam Bentley           3
11             Adam Gibbs           4
12             Adam Harte           8
13           Adam Peacock           4
14           Adam Walpole           7
15          Aidan Hayward           7
16             Aidan Rowe           8
17            Alana Tyson           4
18            Alana Zahel           7
19       Alannah Callaway           5
20      Alannah Langridge           9
21         Alex Greenwood           7
22      Alexander Bennett           6
23         Alexander Bond           4
24    Alexandra Macdonald          10
25      Alexandra Mahmood           1
26       Alexandra Portus           5
27   Alexandra Whitehouse           7
28            Alexis Code           8
29      Alexis O'Flaherty           3
..                    ...         ...
762        Tyson Jonathan           9
763          Vaughn Gibbs           5
764           Victor Kron           5
765         Victoria Bell           3
766        Victoria Burke           4
767          Viola Watson           5
768        Walter Aguilar           7
769          Walter Coley           6
770         Wanda Wingert           3
771          Will Poynton           7
772        William Horton           5
773         William Jolly           5
774        William Martin           3
775      William Reichert           4
776    William Somerville           5
777           Winnie Moss           6
778        Wynona Janelle           4
779        Xavier Burford           6
780     Xavier Martindale           3
781          Xavier Synan           5
782        Yasmin Bradley           3
783        Yasmin Higgins           2
784        Zachary Disher           7
785        Zachary Warner           9
786         Zara Jennings           2
787            Zara Loton           3
788            Zara Money           5
789           Zoe Lanigan           4
790             Zoe Lowin           4
791            Zona Meyer           8

[792 rows x 2 columns]

##### *If you're doubting your output check using Pandas

### 2. Create a Query to return a table of only Geographic features from the List of Orders Table.

In [13]:
sql.read_sql_query('select city, country, region, state from ListOfOrders',connection)

,City,Country,Region,State
0,Stockholm,Sweden,North,Stockholm
1,Southport,United Kingdom,North,England
2,Valence,France,Central,Auvergne-Rhône-Alpes
3,Birmingham,United Kingdom,North,England
4,Echirolles,France,Central,Auvergne-Rhône-Alpes
5,La Seyne-sur-Mer,France,Central,Provence-Alpes-Côte d'Azur
6,Toulouse,France,Central,Languedoc-Roussillon-Midi-Pyrénées
7,Genoa,Italy,South,Liguria
8,Vienna,Austria,Central,Vienna
9,Murcia,Spain,South,Murcia
10,Woking,United Kingdom,North,England
11,Lohne,Germany,Central,Lower Saxony
12,Leicester,United Kingdom,North,England
13,Sheffield,United Kingdom,North,England
14,Dordrecht,Netherlands,Central,South Holland
15,Gothenburg,Sweden,North,Västra Götaland
16,Vienna,Austria,Central,Vienna
17,Langen,Germany,Central,Lower Saxony
18,Copenhagen,Denmark,North,Hovedstaden
19,Gandia,Spain,South,Valenciana
20,Esbjerg,Denmark,North,South Denmark
21,Sesto San Giovanni,Italy,South,Lombardy
22,Trapani,Italy,South,Sicily
23,Villiers-sur-Marne,France,Central,Ile-de-France
24,Bielefeld,Germany,Central,North Rhine-Westphalia
25,Leuven,Belgium,Central,Flemish Brabant
26,Prato,Italy,South,Tuscany
27,Gela,Italy,South,Sicily
28,Bologna,Italy,South,Emilia-Romagna
29,Menden,Germany,Central,North Rhine-Westphalia
...,...,...,...,...
4087,Linz,Austria,Central,Upper Austria
4088,Lisbon,Portugal,South,Lisboa
4089,Ferrara,Italy,South,Emilia-Romagna
4090,Schwerin,Germany,Central,Mecklenburg-Vorpommern
4091,Stockholm,Sweden,North,Stockholm
4092,Harrow,United Kingdom,North,England
4093,Milan,Italy,South,Lombardy
4094,Stockholm,Sweden,North,Stockholm
4095,The Hague,Netherlands,Central,South Holland
4096,Wolverhampton,United Kingdom,North,England
4097,London,United Kingdom,North,England
4098,Champigny-sur-Marne,France,Central,Ile-de-France
4099,Pamplona,Spain,South,Navarra
4100,Oyonnax,France,Central,Auvergne-Rhône-Alpes
4101,Sarcelles,France,Central,Ile-de-France
4102,Haarlem,Netherlands,Central,North Holland
4103,Stockholm,Sweden,North,Stockholm
4104,Dublin,Ireland,North,Dublin
4105,Plymouth,United Kingdom,North,England
4106,Munich,Germany,Central,Bavaria
4107,Edinburgh,United Kingdom,North,Scotland
4108,Naples,Italy,South,Campania
4109,Basel,Switzerland,Central,Basel-Stadt
4110,The Hague,Netherlands,Central,South Holland
4111,Caen,France,Central,Normandy
4112,Bielefeld,Germany,Central,North Rhine-Westphalia
4113,Maidenhead,United Kingdom,North,England
4114,Worcester,United Kingdom,North,England
4115,Hamburg,Germany,Central,Hamburg
4116,Eindhoven,Netherlands,Central,North Brabant

### 3. Create a Query to return a table with all of the orders that had a negative profit from the Order Breakdown Table.

In [80]:
sql.read_sql_query('select * from OrderBreakdown where profit < 0 ',connection)

,Order_ID,Product_Name,Discount,Sales,Profit,Quantity,Category,Sub-Category
0,BN-2011-7407039,"Enermax Note Cards, Premium",0.50,45,-26,3,Office Supplies,Paper
1,BN-2011-2819714,"Boston Markers, Easy-Erase",0.50,27,-22,2,Office Supplies,Art
2,BN-2011-2819714,"Eldon Folders, Single Width",0.50,17,-1,2,Office Supplies,Storage
3,BN-2011-3248724,"Ikea Classic Bookcase, Metal",0.60,987,-1,6,Furniture,Bookcases
4,BN-2011-3248724,"Binney & Smith Sketch Pad, Blue",0.50,116,-56,5,Office Supplies,Art
5,AZ-2011-6439906,"Bevis Training Table, with Bottom Storage",0.60,268,-342,2,Furniture,Tables
6,AZ-2011-2222024,"Green Bar Note Cards, Multicolor",0.50,34,-6,2,Office Supplies,Paper
7,BN-2011-4913858,"Wilson Jones Hole Reinforcements, Durable",0.50,9,-3,3,Office Supplies,Binders
8,BN-2011-4913858,"Harbour Creations Legal Exhibit Labels, Laser ...",0.50,22,-12,4,Office Supplies,Labels
9,BN-2011-4913858,"Green Bar Cards & Envelopes, Multicolor",0.50,50,-38,2,Office Supplies,Paper
10,BN-2011-4913858,"Smead Lockers, Blue",0.50,198,-131,2,Office Supplies,Storage
11,BN-2011-2807470,"Sanford Pens, Fluorescent",0.50,31,-14,5,Office Supplies,Art
12,BN-2011-3770060,"Hon Shipping Labels, Laser Printer Compatible",0.50,17,-8,3,Office Supplies,Labels
13,AZ-2011-1816950,"Acco Binding Machine, Economy",0.50,26,-11,1,Office Supplies,Binders
14,BN-2011-7883641,"Harbour Creations Swivel Stool, Set of Two",0.60,73,-57,1,Furniture,Chairs
15,BN-2011-7883641,"Office Star Bag Chairs, Set of Two",0.60,69,-95,3,Furniture,Chairs
16,BN-2011-6722454,"Hewlett Wireless Fax, Laser",0.50,570,-217,3,Technology,Copiers
17,BN-2011-486854,"Rogers Folders, Single Width",0.10,28,-1,1,Office Supplies,Storage
18,AZ-2011-838467,"Xerox Note Cards, Premium",0.50,13,-8,1,Office Supplies,Paper
19,AZ-2011-838467,"Motorola Signal Booster, Cordless",0.50,584,-59,8,Technology,Phones
20,BN-2011-2468159,"SanDisk Memo Slips, Multicolor",0.50,46,-41,5,Office Supplies,Paper
21,BN-2011-2468159,"Logitech Numeric Keypad, Erganomic",0.50,44,-8,2,Technology,Accessories
22,BN-2011-2468159,"Hewlett Copy Machine, Color",0.65,550,-236,6,Technology,Copiers
23,BN-2011-2468159,"Konica Phone, White",0.65,89,-76,3,Technology,Machines
24,BN-2011-7087921,"Boston Pencil Sharpener, Easy-Erase",0.50,91,-62,6,Office Supplies,Art
25,AZ-2011-5195846,"GlobeWeis Manila Envelope, Set of 50",0.50,55,-19,4,Office Supplies,Envelopes
26,AZ-2011-5195846,"Rogers Trays, Wire Frame",0.50,91,-2,3,Office Supplies,Storage
27,AZ-2011-9107304,"Smead Folders, Wire Frame",0.10,60,-3,4,Office Supplies,Storage
28,BN-2011-3032749,"Avery Binder Covers, Clear",0.50,26,-14,5,Office Supplies,Binders
29,BN-2011-3032749,"Tenex File Cart, Industrial",0.60,215,-220,4,Office Supplies,Storage
...,...,...,...,...,...,...,...,...
1704,BN-2014-1926985,"Advantus Light Bulb, Erganomic",0.60,67,-86,9,Furniture,Furnishings
1705,AZ-2014-9082134,"Apple Headset, VoIP",0.15,62,-1,1,Technology,Phones
1706,BN-2014-1926985,"Panasonic Phone, Durable",0.50,42,-3,1,Technology,Machines
1707,AZ-2014-1328396,"Hoover Refrigerator, Silver",0.50,527,-190,2,Office Supplies,Appliances
1708,AZ-2014-7188993,"Smead Box, Blue",0.10,10,-1,1,Office Supplies,Storage
1709,BN-2014-7634157,"Smead File Folder Labels, Adjustable",0.50,24,-21,7,Office Supplies,Labels
1710,BN-2014-5013417,"Chromcraft Wood Table, with Bottom Storage",0.35,941,-203,3,Furniture,Tables
1711,BN-2014-2971842,"Wilson Jones Index Tab, Recycled",0.50,20,-9,6,Office Supplies,Binders
1712,BN-2014-2971842,"HP Ink, Laser",0.50,322,-193,5,Technology,Copiers
1713,AZ-2014-2210711,"HP Fax and Copier, High-Speed",0.65,120,-89,2,Technology,Copiers
1714,BN-2014-5182753,"Advantus Photo Frame, Durable",0.60,20,-22,1,Furniture,Furnishings
1715,BN-2014-5182753,"BIC Sketch Pad, Blue",0.50,49,-31,2,Office Supplies,Art
1716,BN-2014-5182753,"Stockwell Thumb Tacks, Bulk Pack",0.50,34,-13,5,Office Supplies,Fasteners
1717,AZ-2014-7108585,"Okidata Calculator, Durable",0.15,134,-13,3,Technology,Machines
1718,BN-2014-5182753,"Belkin Flash Drive, Bluetooth",0.50,21,-5,1,Technology,Accessories
1719,BN-2014-9956954,"Harbour Creations Bag Chairs, Black",0.60,24,-30,1,Furniture,Chairs
1720,BN-2014-2616164,"KitchenAid Refrigerator, Black",0.50,1,-443,6,Office Supplies,Appliances
1721,BN-2014-6319094,"Harbour Creations Round Labels, Laser Printer ...",0.50,17,-12,5,Office Supplies,Labels
1722,BN-2014-6319094,"Fellowes Lockers, Wire Frame",0.50,929,-93,9,Office Supplies,Storage
1723,BN-2014-6319094,"Panasonic Card Printer, Red",0.50,342,-103,4,Technology,Machines
1724,BN-2014-5301206,"Novimex Rocking Chair, Black",0.50,516,-392,8,Furniture,Chairs
1725,BN-2014-4912801,"BIC Pens, Fluorescent",0.50,31,-11,4,Office Supplies,Art
1726,BN-2014-4912801,"Sanford Highlighters, Blue",0.50,8,-6,1,Office Supplies,Art
1727,BN-2014-3913645,"Stanley Canvas, Blue",0.50,74,-51,3,Office Supplies,Art
1728,BN-2014-3913645,"Sharp Ink, Laser",0.50,373,-254,6,Technology,Copiers
1729,AZ-2014-8026360,"Epson Inkjet, Wireless",0.15,524,-25,2,Technology,Machines
1730,BN-2014-8679573,"Cuisinart Blender, Silver",0.50,68,-62,2,Office Supplies,Appliances
1731,BN-2014-4140795,"BIC Pencil Sharpener, Fluorescent",0.50,30,-10,2,Office Supplies,Art
1732,BN-2014-4140795,"Avery Binder Covers, Recycled",0.50,23,-6,4,Office Supplies,Binders
1733,BN-2014-4140795,"StarTech Phone, Red",0.50,108,-19,3,Technology,Machines

### 4. Construct a query to return a table with the Customer Name and Product Name.  
(This will require a Join)

In [16]:
sql.read_sql_query('select customer_name, product_name from ListOfOrders LOO join OrderBreakdown OB on LOO.Order_ID = OB.Order_ID',connection)

            Customer_Name                                       Product_Name
0              Ruby Patel                        Enermax Note Cards, Premium
1          Summer Hayward                 Dania Corner Shelving, Traditional
2        Devin Huddleston              Binney & Smith Sketch Pad, Easy-Erase
3             Mary Parker                         Boston Markers, Easy-Erase
4             Mary Parker                        Eldon Folders, Single Width
5            Daniel Burke       Binney & Smith Pencil Sharpener, Water Color
6            Daniel Burke                        Sanford Canvas, Fluorescent
7      Fredrick Beveridge                  Accos Thumb Tacks, Assorted Sizes
8      Fredrick Beveridge                      Bush Floating Shelf Set, Pine
9      Fredrick Beveridge                          Smead Lockers, Industrial
10            Archer Hort                    Binney & Smith Sketch Pad, Blue
11            Archer Hort                       Ikea Classic Bookcase, Metal
12         Evie Flockhart                Ibico Hole Reinforcements, Recycled
13        Faith Greenwood                         Boston Canvas, Fluorescent
14        Faith Greenwood                          Smead Trays, Single Width
15         Summer Hayward          Bevis Training Table, with Bottom Storage
16         Summer Hayward           Novimex File Folder Labels, Alphabetical
17          Gracie Powell                        Binney & Smith Canvas, Blue
18          Gracie Powell              SAFCO Executive Leather Armchair, Red
19         Hershel Snyder                        Binney & Smith Canvas, Blue
20         Hershel Snyder                               Epson Printer, White
21         Hershel Snyder                             Ibico Index Tab, Clear
22         Hershel Snyder               Ikea Stackable Bookrack, Traditional
23          Julia Martell                           Hon Chairmat, Adjustable
24           Viola Watson                   Green Bar Note Cards, Multicolor
25           Julian Dobie            Green Bar Cards & Envelopes, Multicolor
26           Julian Dobie  Harbour Creations Legal Exhibit Labels, Laser ...
27           Julian Dobie                                Smead Lockers, Blue
28           Julian Dobie          Wilson Jones Hole Reinforcements, Durable
29              Rose Heap                          Sanford Pens, Fluorescent
...                   ...                                                ...
8017      Lauren Saunders                     Lesro Round Table, Rectangular
8018      Lauren Saunders            Motorola Signal Booster, with Caller ID
8019      Lauren Saunders                Xerox Cards & Envelopes, Multicolor
8020        Darcy Farnell                           Deflect-O Clock, Durable
8021        Darcy Farnell                             Epson Inkjet, Wireless
8022        Darcy Farnell                    Panasonic Card Printer, Durable
8023          Jay Collier                       Novimex Rocking Chair, Black
8024        Rachel Morton                              BIC Pens, Fluorescent
8025        Rachel Morton                         Sanford Highlighters, Blue
8026      Mark Washington                        Avery 3-Hole Punch, Economy
8027      Mark Washington                                   Sharp Ink, Laser
8028      Mark Washington                               Stanley Canvas, Blue
8029       Mary Saterfiel                         Fellowes Box, Single Width
8030    Alexis O'Flaherty                    Rubbermaid Door Stop, Erganomic
8031           Max Ludwig                   Office Star Chairmat, Adjustable
8032     Georgia Arundale                               Acco Binder, Economy
8033      Thomas Thompson                        Canon Fax and Copier, Laser
8034      Thomas Thompson                          Kleencut Ruler, Easy Grip
8035      Thomas Thompson                      Nokia Headset, with Caller ID
8036      Thomas Thompson                               Sanford Canvas, Blue
8037       Dennis Conaway                          Cuisinart Blender, Silver
8038          Evie Morton                       Fellowes Lockers, Wire Frame
8039         Eloise Sykes                          Kleencut Shears, Serrated
8040         Jose Gambino               Ikea Stackable Bookrack, Traditional
8041         Jose Gambino                          Motorola Audio Dock, VoIP
8042          Leon Barnes                    Fellowes Shelving, Single Width
8043  Rebecca Chamberlain                    Wilson Jones Index Tab, Economy
8044      Daniel Hamilton                      Avery Binder Covers, Recycled
8045      Daniel Hamilton                  BIC Pencil Sharpener, Fluorescent
8046      Daniel Hamilton                                StarTech Phone, Red

[8047 rows x 2 columns]

##### From this point on you'll probably be combining SQL and Pandas, in that you would use SQL querys to gather the relevant information and use Pandas to analyze it.

### 5.  How many orders for "Office Supplies" (Category) has Sweeden made?

In [21]:
sql.read_sql_query('select count(*) num_orders from ListOfOrders LOO join OrderBreakdown OB on LOO.Order_ID = OB.Order_ID where Country = "Sweden" and Category = "Office Supplies"',connection)

   num_orders
0         133

### 6. What was the total sales for products that have been discounted?

In [81]:
sql.read_sql_query('select sum(Sales) total_discounted_sales from OrderBreakdown where Discount > 0',connection)

   total_discounted_sales
0                  661672

### 7. What is the total quantity of objects sold for each country?

In [51]:
sql.read_sql_query('select country, count(*) num_orders from ListOfOrders LOO join OrderBreakdown OB on LOO.Order_ID = OB.Order_ID group by Country',connection)

           Country  num_orders
0          Austria         264
1          Belgium         135
2          Denmark          60
3          Finland          64
4           France        1916
5          Germany        1640
6          Ireland         100
7            Italy         979
8      Netherlands         393
9           Norway          70
10        Portugal          70
11           Spain         761
12          Sweden         203
13     Switzerland          78
14  United Kingdom        1314

### 8. In what Countries are profits lowest? (Report lowest 5-10)

In [83]:
sql.read_sql_query('select country, sum(Profit) profits from OrderBreakdown OB join ListOfOrders LOO on OB.Order_ID = LOO.Order_ID group by Country order by sum(Profit) limit 10',connection)

       Country  profits
0  Netherlands   -30893
1       Sweden   -12124
2      Ireland    -6886
3     Portugal    -5647
4      Denmark    -3608
5      Finland     3908
6       Norway     5167
7  Switzerland     6174
8      Belgium     9912
9        Italy    14148

### 9. What Counties have the best and worst Sales to Profit Ratios?
(Total Sales divided by Total Profits.)
Essentially this is saying for every dollar of product sold, how much is profit

In [88]:

print sql.read_sql_query('select country,sum(Sales) / sum(Profit) best_sales_to_profits_ratio from OrderBreakdown OB join ListOfOrders LOO on OB.Order_ID = LOO.Order_ID group by Country order by sum(Sales) / sum(Profit) desc limit 10',connection)
print ""
print sql.read_sql_query('select country,sum(Sales) / sum(Profit) worst_sales_to_profits_ratio from OrderBreakdown OB join ListOfOrders LOO on OB.Order_ID = LOO.Order_ID group by Country order by sum(Sales) / sum(Profit) limit 10',connection)

          Country  best_sales_to_profits_ratio
0           Italy                           11
1          France                            5
2         Finland                            3
3         Germany                            3
4           Spain                            3
5  United Kingdom                            3
6         Austria                            2
7         Belgium                            2
8          Norway                            2
9     Switzerland                            2

       Country  worst_sales_to_profits_ratio
0      Denmark                            -2
1      Ireland                            -2
2  Netherlands                            -1
3     Portugal                            -1
4       Sweden                            -1
5      Austria                             2
6      Belgium                             2
7       Norway                             2
8  Switzerland                             2
9      Finland                             3

### 10. What Shipping method is most common for 'Bookcases' (Sub Category)

In [101]:
sql.read_sql_query('select Ship_Mode from ListOfOrders LOO join OrderBreakdown OB on LOO.Order_ID = OB.Order_ID where Sub_Category = "Bookcases" group by ship_mode order by count(*) desc limit 1' ,connection)

  Ship_Mode
0   Economy

### 11 .What city in the Orders table generated the highest net sales?  (List all the cities and countries in descending order by net sales.)

In [112]:
sql.read_sql_query('select city, country, sum(Sales) net_sales from ListOfOrders LOO join OrderBreakdown OB on LOO.Order_ID = OB.Order_ID group by city, country order by sum(Sales) desc' ,connection)

                         City         Country  net_sales
0                      London  United Kingdom      35572
1                      Berlin         Germany      33682
2                      Vienna         Austria      33218
3                       Paris          France      26146
4                      Madrid           Spain      25864
5                        Rome           Italy      18267
6                       Milan           Italy      15243
7                   Barcelona           Spain      14212
8                     Hamburg         Germany      13789
9                      Munich         Germany      13419
10                  Marseille          France      12014
11                  Stockholm          Sweden      11726
12                     Dublin         Ireland      11071
13                      Turin           Italy      10788
14                  Frankfurt         Germany       9699
15                  Edinburgh  United Kingdom       9248
16                   Valencia           Spain       9063
17                   Toulouse          France       8938
18                     Naples           Italy       8664
19                     Bremen         Germany       8401
20                      Essen         Germany       7979
21                 Birmingham  United Kingdom       7945
22                    Cologne         Germany       7929
23                       Oslo          Norway       7805
24                       Nice          France       7546
25                   Helsinki         Finland       7071
26                       Bonn         Germany       6836
27                    Antwerp         Belgium       6506
28                      Leeds  United Kingdom       6346
29                     Bochum         Germany       6339
..                        ...             ...        ...
969                   Casoria           Italy         23
970                    Cestas          France         23
971               Battipaglia           Italy         22
972                    Ragusa           Italy         22
973                    Millau          France         21
974                    Leiden     Netherlands         19
975              Valenciennes          France         19
976                 Friedberg         Germany         18
977                   Sorgues          France         14
978                      Sète          France         14
979             Aix-les-Bains          France         10
980                      Osny          France          5
981               Saint-Louis          France          3
982           Annecy-le-Vieux          France          2
983                      Asti           Italy          2
984   Chiclana de la Frontera           Spain          2
985                   Crawley  United Kingdom          2
986                  Poitiers          France          2
987             Wilhelmshaven         Germany          2
988                  Barletta           Italy          1
989             Civitavecchia           Italy          1
990                     Lecce           Italy          1
991              Les Herbiers          France          1
992                     Melun          France          1
993                    Modica           Italy          1
994                   Pamiers          France          1
995                  Pontoise          France          1
996             South Shields  United Kingdom          1
997  Villeneuve-Saint-Georges          France          1
998         Villeneuve-d'Ascq          France          1

[999 rows x 3 columns]

### 12.1 .Create a Column called 'Shipping Delay' on the 'orders' table, which is the difference in days between 'Order Date' and 'Ship Date'.

In [3]:
c.execute('alter table ListOfOrders add column Shipping_Delay text')
connection.commit()

### 12.2 Update your Orders table in your Sqlite DB to include the 'Shipping Delay' feature.

In [112]:
c.execute('alter table ListOfOrders add column ship_new text')
c.execute('alter table ListOfOrders add column order_new text')

c.execute('update ListOfOrders set ship_new = ship_date')
connection.commit()

c.execute('update ListOfOrders set ship_new = '
          '(case when ship_date like "_/_/____" then "0" || substr(ship_date,0,3) || "0" || substr(ship_date,3) '
                'when ship_date like "_/__/____" then "0" || substr(ship_date,0) '
                'when ship_date like "__/_/____" then substr(ship_date,0,4) || "0" || substr(ship_date,4)' 
                'else ship_date end) ')
connection.commit()

c.execute('update ListOfOrders set order_new = '
          '(case when order_date like "_/_/____" then "0" || substr(order_date,0,3) || "0" || substr(order_date,3) '
                'when order_date like "_/__/____" then "0" || substr(order_date,0) '
                'when order_date like "__/_/____" then substr(order_date,0,4) || "0" || substr(order_date,4)' 
                'else order_date end)')
connection.commit()

c.execute('update ListOfOrders set order_new = replace(order_new,"/","-")')
c.execute('update ListOfOrders set ship_new = replace(ship_new,"/","-")')
c.execute('update ListOfOrders set ship_new = substr(ship_new,7)||"-"||substr(ship_new,0,3)||substr(ship_new,3,3)')
c.execute('update ListOfOrders set order_new = substr(order_new,7)||"-"||substr(order_new,0,3)||substr(order_new,3,3)')
connection.commit()
c.execute('update ListOfOrders set Shipping_Delay = julianday(ship_new)-julianday(order_new)')
connection.commit()

     Shipping_Delay
0               4.0
1               4.0
2               4.0
3               5.0
4               2.0
5               1.0
6               6.0
7               5.0
8               4.0
9               4.0
10              0.0
11              7.0
12              5.0
13              3.0
14              6.0
15              7.0
16              5.0
17              5.0
18              6.0
19              3.0
20              5.0
21              2.0
22              1.0
23              5.0
24              5.0
25              4.0
26              4.0
27              2.0
28              2.0
29              7.0
...             ...
4087            4.0
4088            2.0
4089            6.0
4090            1.0
4091            5.0
4092            6.0
4093            4.0
4094            3.0
4095            4.0
4096            3.0
4097            6.0
4098            0.0
4099            4.0
4100            2.0
4101            5.0
4102            2.0
4103            3.0
4104            4.0
4105            4.0
4106            5.0
4107            5.0
4108            6.0
4109            3.0
4110            2.0
4111            2.0
4112            4.0
4113            5.0
4114            1.0
4115            4.0
4116            5.0

[4117 rows x 1 columns]

### 12.3 Which Product Category has the highest average 'Shipping Delay'

In [120]:


sql.read_sql_query('select category, avg(shipping_delay) avg_shipping_delay from OrderBreakdown OB join ListOfOrders LOO on OB.Order_ID = LOO.Order_ID group by category order by avg(shipping_delay) desc limit 1' ,connection)

     Category  avg_shipping_delay
0  Technology             4.12541

# Hard Mode:

### 13. In what months and Categories were Sales Targets Exceeded?

In [141]:
# where cast(replace(replace(Target,"$",""),",","") as number) < sum(sales) 

sql.read_sql_query('select Month_of_order_date, st.category,sum(target), sum(sales) from SalesTargets st join orderbreakdown loo on st.category = loo.category group by month_of_order_date, st.category' ,connection)

    Month_of_Order_Date         Category  sum(target)  sum(sales)
0                Apr-11        Furniture          0.0      341603
1                Apr-11  Office Supplies          0.0      613687
2                Apr-11       Technology          0.0      474066
3                Apr-12        Furniture          0.0      341603
4                Apr-12  Office Supplies          0.0      613687
5                Apr-12       Technology          0.0      474066
6                Apr-13        Furniture          0.0      341603
7                Apr-13  Office Supplies          0.0      613687
8                Apr-13       Technology          0.0      474066
9                Apr-14        Furniture          0.0      341603
10               Apr-14  Office Supplies          0.0      613687
11               Apr-14       Technology          0.0      474066
12               Aug-11        Furniture          0.0      341603
13               Aug-11  Office Supplies          0.0      613687
14               Aug-11       Technology          0.0      474066
15               Aug-12        Furniture          0.0      341603
16               Aug-12  Office Supplies          0.0      613687
17               Aug-12       Technology          0.0      474066
18               Aug-13        Furniture          0.0      341603
19               Aug-13  Office Supplies          0.0      613687
20               Aug-13       Technology          0.0      474066
21               Aug-14        Furniture          0.0      341603
22               Aug-14  Office Supplies          0.0      613687
23               Aug-14       Technology          0.0      474066
24               Dec-11        Furniture          0.0      341603
25               Dec-11  Office Supplies          0.0      613687
26               Dec-11       Technology          0.0      474066
27               Dec-12        Furniture          0.0      341603
28               Dec-12  Office Supplies          0.0      613687
29               Dec-12       Technology          0.0      474066
..                  ...              ...          ...         ...
114              Nov-13        Furniture          0.0      341603
115              Nov-13  Office Supplies          0.0      613687
116              Nov-13       Technology          0.0      474066
117              Nov-14        Furniture          0.0      341603
118              Nov-14  Office Supplies          0.0      613687
119              Nov-14       Technology          0.0      474066
120              Oct-11        Furniture          0.0      341603
121              Oct-11  Office Supplies          0.0      613687
122              Oct-11       Technology          0.0      474066
123              Oct-12        Furniture          0.0      341603
124              Oct-12  Office Supplies          0.0      613687
125              Oct-12       Technology          0.0      474066
126              Oct-13        Furniture          0.0      341603
127              Oct-13  Office Supplies          0.0      613687
128              Oct-13       Technology          0.0      474066
129              Oct-14        Furniture          0.0      341603
130              Oct-14  Office Supplies          0.0      613687
131              Oct-14       Technology          0.0      474066
132              Sep-11        Furniture          0.0      341603
133              Sep-11  Office Supplies          0.0      613687
134              Sep-11       Technology          0.0      474066
135              Sep-12        Furniture          0.0      341603
136              Sep-12  Office Supplies          0.0      613687
137              Sep-12       Technology          0.0      474066
138              Sep-13        Furniture          0.0      341603
139              Sep-13  Office Supplies          0.0      613687
140              Sep-13       Technology          0.0      474066
141              Sep-14        Furniture          0.0      341603
142              Sep-14  Office Supplies          0.0      613687
143              Sep-14       Technology          0.0      474066

[144 rows x 4 columns]

### 14. In what months and Categories did Sales fail to exceed their targets?

In [126]:
c.execute('update SalesTargets set Target = cast(replace(Target,"$","") as number);')